@if (User.Identity.IsAuthenticated)
{
    <div>
        <h1>NAME:     @User.Identity.Name!!!!!!!!!!!!!</h1>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <section>
                <nav>
                    <ul class="menuItems">
                        <li>
                            <button type="submit">Log Out</button>
                        </li>
                    </ul>
                </nav>
            </section>
        </form>
    </div>
}
else
{
    <div class="text-center">
        <section>
            <nav>
                <ul class="menuItems">
                    <li><a asp-controller="Account" asp-action="Login" class="btn btn-success btn-custom">Log In</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="btn btn-info btn-custom">Register</a></li>
                </ul>
            </nav>
        </section>

    </div>
}



<div>
    Is Authenticated: @User.Identity.IsAuthenticated
    <br></br>
    Name: @User.Identity.Name
</div>