@model LoginViewModel

<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Sign in</div>
            <div class="eula">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-controller="Home" , asp-action="index" class="backLink">Back</a>
            </div>
        </div>
        <div class="right">
            <div class="form">
                <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="All" class="AspValidationSummary"></div>

                    <label asp-for="Email"></label>
                    <input asp-for="Email" placeholder=".">
             
                    <label asp-for="Password"></label>
                    <input asp-for="Password" placeholder=".">

                    <div class="sisu">
                        <input type="submit" id="submit" value="Sign In">
                        <a asp-controller="Account" asp-action="Register" id="link-button" class="styled-button">Sign Up?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>