@model RegisterViewModel

<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Sign Up</div>
            <div class="eula">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a asp-controller="Home" , asp-action="index" class="backLink styled-button">Back</a>
            </div>
            <div asp-validation-summary="All" class="AspValidationSummary"></div>
        </div>
        <div class="right">
            <div class="form">
                <form method="post" asp-controller="Account" asp-action="Register">


                    <div class="form-group">
                        <label asp-for="UserName">UserName</label>
                        <input asp-for="UserName" placeholder="Enter user name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber">PhoneNumber</label>
                        <input asp-for="PhoneNumber" placeholder="Enter phone number" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" placeholder="Enter email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" placeholder="Enter password" class="form-control">
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordConfirm">PasswordConfirm</label>
                        <input asp-for="PasswordConfirm" placeholder="Enter password again" class="form-control" />
                    </div>

                    <div class="sisu">
                        <input type="submit" id="submit" value="Sign Up">
                        <a asp-controller="Account" asp-action="Login" id="link-button" class="styled-button">Sign In?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/register.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>