<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            min-height: 100vh;
            font-family: Hack, monospace;
        }

        div {
            color: #727272;
            text-align: center;
        }

        p {
            color: #ccc;
            font-weight: 600;
            transition: all 1s ease-in-out;
            position: relative;
            &::before

        {
            content: attr(data-item);
            transition: all 1s ease-in-out;
            color: #8254ff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
        }

        &:hover {
            &::before

        {
            width: 100%;
        }

        }
        }

        nav {
            background: #f9f9f9;
            .menuItems

        {
            list-style: none;
            display: flex;
            li

        {
            margin: 25px;
            a

        {
            text-decoration: none;
            color: #8f8f8f;
            font-size: 24px;
            font-weight: 400;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-transform: uppercase;
            &::before

        {
            content: attr(data-item);
            transition: 0.5s;
            color: #8254ff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
        }

        &:hover {
            &::before

        {
            width: 100%;
            transition: all 0.5s ease-in-out;
        }

        }
        }
        }
        }
        }

        footer {
            position: absolute;
            font-size: 12px;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            background-color: #f1f1f1;
            color: #000000;
            text-align: center;
            a

        {
            text-decoration: none;
            color: inherit;
            border-bottom: 1px solid;
            &:hover

        {
            border-bottom: 1px transparent;
        }

        }
        }

        mainnnn {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
        }

        .kkk {
            height: calc(100vh - 270px);
            /*width: 100vw;*/
        }

        .button {
            font-size: 24px;
            font-weight: 400;
        }
    </style>
</head>

<body>

    <div class="mainnnn">



        <div>
            <section>
                <nav>
                    <ul class="menuItems">
                        <li><a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home page</a></li>
                        <li><a asp-controller="Wallet" asp-action="Index" class="btn btn-primary">Accounts page</a></li>
                        <li><a asp-controller="Goal" asp-action="Index" class="btn btn-primary">Goals page</a></li>
                        <li><a asp-controller="Wallet" asp-action="Statistic" class="btn btn-primary">Statistic page</a></li>
                        <li><a asp-controller="User" asp-action="UserMainPage" class="btn btn-primary">User Main Page</a></li>
                    </ul>
                </nav>

            </section>
        </div>


        <div class="kkk">
            @RenderBody()


           
        </div>
    </div>


</body>
</html>